#controlsDiv {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 25px;
  border-bottom: 2px solid gray;
  padding-bottom: 10px;
}

button {
  font-size: 1.2em;
  padding: 5px;
  margin: 5px;
}

input[type='text'] {
  font-size: 1.2em;
  width: 100%;
}

h3,
h4 {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.fcol {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.frow {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

#local-controls {
  flex: 1;
  padding-right: 25px;
  border-right: 2px solid gray;
}

/* #videos {
  width: 50%;
  min-width: 500px;
} */

#testing {
  flex: 1;
}

fieldset {
  max-width: 300px;
}

fieldset legend {
  font-weight: bold;
  font-size: 1.2em;
}

#ve[disabled] + label {
  color: gray;
}

#overrides {
}

#dVal,
#sfVal {
  font-size: 2em;
}

#sendSettings {
  height: 10em;
  width: 80%;
}

#results {
  flex-direction: column;
}

#result {
  font-size: x-large;
  margin-bottom: 5px;
}

.failed {
  color: red;
}

.aborted {
  color: dimgrey;
}

.good {
  color: darkgreen;
}

.warning {
  color: goldenrod;
}

.bad {
  color: coral;
}

#charts {
  flex-wrap: wrap;
}

.chart-div {
  width: 45%;
  margin-right: 4%;
}
